<% provide(:title, 'help') %>
<!DOCTYPE html>
    <html>
      <head>
        <title>FilmBooking | Help</title>
      </head>
      <body>
        <h1>Help</h1>
        <p>
          Get help on here.
        </p>
      </body>
    </html>